body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #005030
}

h1 {
    font-size: 48px;
    margin: 0;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    background-color: #C1D631;
}

.header {
    display: flex;
    flex: auto;
    background-color: #E8D4A3;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    height: 36px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    gap: 36px;
    font-weight: 600;
}

.main-container {
    background-color: #005030;
    display: flex; 
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-1-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFFFFF;
    width: 500px;
}

.building-image {
    display: flex;
    flex-direction: column;
}

.image-description {
    align-self: last baseline;
    color: #FFFFFF;
    font-style: italic;
    margin: 8px;
}

.main-1-image {
    width: 700px;
    border-radius: 12px;
}

.description {
    font-size: 24px;
    margin: 0;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 48px;
}

.box-layout {
    display: flex;    
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 16px #005030;
}

.box img {
    display: flex;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.box-text {
    color: #005030;
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.main-box-text {
    color: #005030;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #005030;
    padding: 100px 500px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 500;
}

.mo {
    display: flex;
    align-self: last baseline;
    font-size: 20px;
    font-style: italic;
    color: #C1D631;
}

.action-container {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.action-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C1D631;
    padding: 32px;
    gap: 200px;
    border-radius: 12px;
    padding-left: 100px;
    padding-right: 100px;
}

.action-text {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.action-h1 {
    font-size: 32px;
}

.action-p {
    font-style: italic;
    margin: 0;
}

.action-button {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
}

.action-a {
    color: #FFFFFF;
}

.footer {
    display: flex;
    flex: auto;
    background-color: #005030;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}

.footer-p {
    color: #FFFFFF;
    font-size: 24px;
    padding: 16px;
}